<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dealership_Program.Properties.Settings.khnz786ConnectionString"
            connectionString="server=www.freesql.org;User Id=khnz786;password=ziakhan;Persist Security Info=True;database=khnz786"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>